@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-size: 10px;
}

*:visited{
  color: inherit;
}

body{
  font-family: 'Open Sans', sans-serif;
  
}

table {
  min-width: 60vw;
  max-width: 80vw;
  overflow: auto;
  border-collapse: collapse;
}

table, th, td {
  font-size: 1.8rem;
  padding: 1.2rem 1.5rem;
  border: 1px solid #ddd;
}

th{
  background-color: #0f2152;
  color: white;
}

.dashboard{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.top-content a{
  padding: 0.75rem 1.5rem;
  font-size: 1.4rem;
  background-color: #eff8fd;
  border: 0.1rem solid  #0f2152;
  border-radius: 0.5rem;
  color: #0f2152;
  transition: ease-out 0.3s;
}

.top-content a:hover{
  background-color: #54c2fd;
}

tr:nth-child(even){
  background-color: #eff8fd;
}

tr:hover {
  background-color: #ddd;
}

.elmnt{
  display: flex;
  justify-content: space-around;
}

.btn{
  background-color: #eff8fd;
  border: 0.1rem solid #0f2152;
  color: #0f2152;
  padding: 0.75rem 1.5rem;
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  transition: ease-out 0.3s;
}

.btn:hover{
  background-color: #54c2fd;
}

.orange:hover{
  background-color: #ffa927;
  border-color: white;
  color: white;
}

.red:hover{
  background-color: #ff3d3d;
  border-color: white;
  color: white;
}

.green:hover{
  background-color: #0faf00;
  border-color: white;
  color: white;
}

form{
  display: grid;
  width: 25vw;
  line-height: 3.8rem;
  padding: 1.8rem 2.0rem;
  border: 0.1rem solid #ddd;
  background-color: #f5faff;
  min-width: 400px;
  text-align: center;
}

form label, p{
  font-size: 2.4rem;
}

form input, select, option{
  padding: 0.8rem 1.0rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #0f2152;
}

form input:focus{
  border: 0.2rem solid #0f2152;
}

form input[type="submit"],
form input[type="reset"]{
  margin-top: 3.8rem;
  background-color: #eff8fd;
  cursor: pointer;
  width: 45%;
  transition: ease-out 0.3s;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover{
  background-color: #54c2fd;
}

.group-btn{
  display: flex;
  justify-content: space-between;
}

.radio-btn{
  display: flex;
  margin-top: 1.8rem;
  justify-content: space-around;
  align-items: center;
}

.radio-btn label{
  font-size: 1.6rem;
}

.container{
  padding: 2.0rem 2.0rem;
  width: 100vw;
  height: 100vh;
}

.product-info{
  display: flex;
}

.product-info img{
  min-width: 20%;
  width: 20%;
  height: auto;
  border: 0.1rem solid #ddd;
}

.information{
  margin-left: 2.0rem;
  line-height: 3.5rem;
}

h2{
  font-size: 2.4rem;
}

p{
  margin-top: 1.4rem;
  font-size: 1.6rem;
  font-weight: bold;
}

small{
  font-size: 1.6rem;
  font-weight: normal;
}



